@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  font: normal 100%/1.5;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  width: 100%;
}

.figure figure {
	margin:0;
}

.figure figcaption{
	font:Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	color:#FFFFFF;
	position: fixed;
	margin-top: -4rem;
	margin-left: 3%;
	margin-right: 7%;
}

.content h1{
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin-left:3%;
	font-size: 1.5rem;
}

.content table{
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-align:left;
	padding: 0.5rem 1rem;
	width: 100%;
}

.head{
	color:#989898;
	text-transform: uppercase;
	font-size:.9rem;
}

.content2{
	font-size:1rem;
}

.table table{
	border-collapse:collapse;
table th {

.line{
	border-right: 1px solid #000;
}